<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recomendador de Películas</title>
</head>
<body>
    <h1>Obten tu recomendación de películas</h1>
    <form action="/recommend" method="post">
        <label for="user_id">ID de Usuario:</label>
        <input type="text" id="user_id" name="user_id" required><br><br>

        <label for="model">Selecciona un modelo:</label>
        <select name="model" id="model">
            <option value="knn">KNN</option>
            <option value="reg">Regresión Lineal</option>
        </select><br><br>

        <button type="submit">Obtener Recomendaciones</button>
    </form>
</body>
</html>
